{% extends 'base.html' %}
{% block content %}
<div class="bg">
    <div class="container" id="white">
        <h2>Registrar un nuevo detalle</h2>
        <form method="POST" id="detail-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="ciudad">Ascensor:</label>
            <select class="form-control" name="elevator">
                {% for ascensor in ascensores %}
                    <option value="{{ ascensor.id }}">{{ ascensor.id }} - {{ ascensor.model }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="detail">Detalle:</label>
            <textarea class="form-control" name="detail" form="detail-form">Ingresa la descripción del trabajo aquí...</textarea>
        </div>
        <div class="form-group">
            <label for="failure">Fallas:</label>
            <textarea class="form-control" name="failure" form="detail-form">Ingresa las fallas que presentó el ascensor aquí...</textarea>
        </div>
        <div class="form-group">
            <label for="piezas">Piezas:</label>
            <textarea class="form-control" name="piezas" form="detail-form">Ingresa las piezas cambiadas, en caso de ser necesarias...</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Registrar Detalle</button>
        </form>
    </div>
</div>
{% endblock %}
