{% extends 'base.html' %}
{% block content %}
<div class="bg">
  <div class="container" id="white">
    <h2>Formulario de registro de técnicos</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="nombre" class="form-control" id="nombre" placeholder="Ingrese Nombre" name="name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Ingrese Email" name="email">
      </div>
      <div class="form-group">
          <label for="teléfono">Teléfono:</label>
          <input type="teléfono" class="form-control" id="teléfono" placeholder="Ingrese Teléfono" name="phone">
      </div>
      <div class="form-group">
          <label for="contraseña">Contraseña:</label>
          <input type="password" class="form-control" placeholder="Ingrese Contraseña" name="password1">
      </div>
      <div class="form-group">
          <label for="contraseña">Repetir contraseña:</label>
          <input type="password" class="form-control" placeholder="Ingrese Contraseña" name="password2">
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</div>
{% endblock %}
