{% extends 'base.html' %}
{% block content %}
<div class="bg">
  <div class="container" id="white">
    <h2>Formulario de registro de clientes</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        &#128100;<label for="nombre">Nombre:</label>
        <input type="nombre" class="form-control" id="nombre" placeholder="Ingrese Nombre" name="name">
      </div>
      <div class="form-group">
        <label for="dirección">Dirección:</label>
        <input type="dirección" class="form-control" id="dirección" placeholder="Ingrese Dirección" name="address">
      </div>
      <div class="form-group">
          <label for="ciudad">Región:</label>
          <select class="form-control" id="Regiones" name="region" onchange="populate(this.id, 'Ciudades')">
              <option value="arica">Región de Arica y Parinacota</option>
              <option value="tarapaca">Región de Tarapacá</option>
              <option value="antofagasta">Región de Antofagasta</option>
              <option value="atacama">Región de Atacama</option>
              <option value="coquimbo">Región de Coquimbo</option>
              <option value="valparaiso">Región de Valparaíso</option>
              <option value="santiago">Región Metropolitana de Santiago</option>
              <option value="ohiggins">Región del Libertador General Bernardo O'Higgins</option>
              <option value="maule">Región del Maule</option>
              <option value="ñuble">Región de Ñuble</option>
              <option value="biobio">Región del Biobío</option>
              <option value="araucania">Región de La Araucanía</option>
              <option value="rios">Región de Los Ríos</option>
              <option value="lagos">Región de Los Lagos</option>
              <option value="aysen">Región de Aysén del General Carlos Ibáñez del Campo</option>
              <option value="antartica">Región de Magallanes y de la Antártica Chilena</option>
          </select>
        </div>
        <div class="form-group">
          <label for="comuna">Ciudad:</label>
          <select class="form-control" id="Ciudades" name="city">
          </select>
        </div>
        <div class="form-group">
          <label for="teléfono">Teléfono:</label>
          <input type="teléfono" class="form-control" id="teléfono" placeholder="Ingrese Teléfono" name="phone">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" placeholder="Ingrese Email" name="email">
        </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</div>
{% endblock %}
