{% extends 'base.html' %}
{% block content %}
<div class="bg">
    <div class="container mt-3 "id="white">
    <h2>Lista de Clientes</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Buscar">
    <br>
  <div class="table-responsive">
  <table class="table table-hover table-bordered" id="myTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Región</th>
          <th>Ciudad</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th>Técnico</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="myBody">
      {% for cliente in data %}
        <tr class="clickable-row">
            <td>{{cliente.id}}</td>
            <td>{{cliente.name}}</td>
            <td>{{cliente.address}}</td>
            <td>{{cliente.region}}</td>
            <td>{{cliente.city}}</td>
            <td>{{cliente.phone}}</td>
            <td>{{cliente.email}}</td>
            {% if cliente.tech %}
              <td>{{cliente.tech.name}}</td>
            {% else %}
              <td></td>
            {% endif %}
            <td><a href="/home/edit_client/{{ cliente.id }}" id="link">Editar</a></td>
            <td><a href="/home/delete_client/{{ cliente.id }}" class="confirmation" id="link">Eliminar</a></td>
            <td><a href="/home/assign_tech/{{ cliente.id }}" id="link">Asignar Técnico</a></td>
        </tr>
      {% endfor %}
      </tbody>
  </table> 
  <a class="btn btn-primary float-right" href="/home/add_client/" role="button">Agregar Cliente</a>
  </div>
  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myBody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>

  <script>
      $('#myTable').on('click', '.clickable-row', function(event) {
          $(this).addClass('bg-info').siblings().removeClass('bg-info');
        });
  </script>

  <script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('Estas a punto de eliminar un cliente ¿Deseas continuar?');
    });
  </script>
</div>
{% endblock %}