.bold {
    font-weight: bold !important;
}

.notassigned {
    font-style: italic !important;
}

.grayfont {
    color: gray !important;
}

#form-login {
    text-align: center !important;
    margin: auto !important;
    padding: 70px 70px !important;
}
#email {
    max-width: 200px;
    margin: auto;
}
#pwd {
    max-width: 200px;
    margin: auto;
}

body, html {
    height: 100%;
    margin: 0;
  }
  
.bg {
    background-image: url("Background.jpg");
    background-attachment:fixed;
    background-position: center;
    min-height: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
  }
  
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.topnav {
    overflow: hidden;
    background-color: #19D719;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav .hover:hover {
    background-color: #F02D7D;
    color: black;
}
  
#welcome{
    background-color: #F02D7D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
#white{
    color:white;
}
#link{
    color:yellow;
}

#link:hover {
    color:purple;
}

  
@media screen and (max-width: 480px) {
      .topnav a:not(:first-child) {
        display: none;
      }
      .topnav a.icon {
      float: right;
      display: block;
      }
      .topnav {
      overflow: hidden;
      background-color: #F02D7D;
      }
      .topnav a {
      float: left;
      display: block;
      color: #ffffff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      }
      .topnav .hover:hover {
      background-color: #19D719;
      color: black;
      }
      #welcome{
      background-color: #19D719;
      color: white;
      }
  }
  
  
@media screen and (max-width: 480px) {
      .topnav.responsive {
          position: relative;
      }
      .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      }
      .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
      }
  }
  
@media screen and (max-width: 768px) {
      .topnav a:not(:first-child) {
        display: none;
      }
      .topnav a.icon {
          float: right;
          display: block;
      }
  }
  
  
@media screen and (max-width: 768px) {
      .topnav.responsive {
          position: relative;
      }
      .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
      }
      .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
      }
  }
